<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PASS/FAIL PROJECT BY RAKSHITA</title>
    <style>
      body {
           background-color:#fff5;
           background-image: url('https://cdn.glitch.global/294afd84-04ae-4602-9aba-1369a4d0b5b5/aiml5.jpeg?v=1720167619378');
           background-size: cover;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
          } 
    </style>
</head>
  <body >
 
    <h1 align="center" style="color:white;">
      <u>PASS/FAIL PREDICTOR MODEL</u>
    </h1>
    <br>
    <br>
    <center>
    <img src="https://cdn.glitch.global/294afd84-04ae-4602-9aba-1369a4d0b5b5/aiml2.jpeg?v=1720191595651">
    <br>
    <br>
     <a href="/project"><h3 style="color:white;">
      CLICK TO VIEW THE PROJECT
       </h3>
      </a>
    </center>
    
  </body>
</html>